body{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main, .overzicht{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shirt {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

h1 {
    text-align: center;
    padding: 2em;
}

#input {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 4.5em;
    margin-left: 3.8em;
    font-size: 30px;
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 1.15em;
    margin-left: 1em;
    font-size: 125px;
    color: white;
}

.vorige {
    display: flex;
    justify-content: baseline;
    margin-right: auto;
}

.volgende {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.shirtTekst {
    display: flex;
    justify-content: end;
}

.shirtNummer {
    display: flex;
    justify-content: end;
}